.sidebar{
    height: 100vh;
    flex: 0.1;
    min-width: 230px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #040404;
    color: white;
}
.sidebar > hr{
    border: 1px solid #282828;
    width: 100%;
    margin: 10px auto;
}

.logo_sidebar{
    height: 70px;
    padding: 10px;
    margin-right: auto;
}

.sidebar_title{
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}