.sideBarOption {
    display: flex;
    color: grey;
    align-items: center;
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
}

.sideBarOption:hover {
    color: white;
}

.sideBarOption_icon {
    padding-left: 10px;
    padding-right: 10px;
}